@import "mapbox-gl/dist/mapbox-gl.css"; 
@import "../../node_modules/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.backdrop-saturate-150 {
    background: #0f3a30 !important;
  }
  
  .tap-highlight-transparent {
    color: white;
  }

  .marker {
    background-image: url('../../public/map-icons/gas.png');
    background-size: cover;
    width: 31.32px;
    height: 44.28px;
    cursor: pointer;
  }

.scrollbar-hidden::-webkit-scrollbar {
  display:none;
}