PORT=8000
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=travelnik-database
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
BOOKING_API=API_KEY
NEXTAUTH_SECRET=API_KEY
OPENAI_API_KEY=API_KEY