PORT=8000
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=travelnik-database
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
BOOKING_API=
NEXTAUTH_SECRET=ibrakadabra